#icon-wowraid {
	background: transparent url(../images/wow-icon32x32.png) no-repeat;
}
.column-id {
	width:30px;
	text-align:right;
}
.column-name {
	width:auto;
	text-align:left;
}
.column-dkp {
	width:60px;
	text-align:right;
}
